@use '../global-abstracts' as *;

html {
	text-wrap: pretty;
}

h1 {
	margin-bottom: $spacing-20;
	line-height: 1.25;
}

h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: $spacing-10;
	line-height: 1.25;
}

p {
	margin-bottom: $spacing-10;
	line-height: 1.55em;
}

li {
	line-height: 1.55em;
}

ul {
	margin-bottom: $spacing-10;
}

.logo {
	height: clamp(3.25rem, 2.725rem + 2.63vw, 5.188rem);
}

.has-global-padding {
	padding-left: $global-padding;
	padding-right: $global-padding;
}

.side-by-side-container > * {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 25rem;
}

.is-style-wrap {
	flex-wrap: wrap;
}

.is-style-centered {
	justify-content: center;
	text-align: center;
}

.is-style-content-size {
	flex-grow: 1;
	max-width: $content-size;
}

.is-style-wide-size {
	flex-grow: 1;
	max-width: $wide-size;
}

.is-style-no-grow {
	flex-grow: 0;
}

.image-contains-text {
	color: $color-contrast-light;
}

.is-style-hover-effect-1 {
	transition: $delay-1;

	&:hover:not(.active) {
		scale: 1.05;
		filter: brightness(110%);
	}
}

.is-style-nav-icon {
	width: clamp(1.875rem, 1.536rem + 1.69vw, 3.125rem);
	height: clamp(1.875rem, 1.536rem + 1.69vw, 3.125rem);

	path {
		fill: $color-accent-2;
	}
}