@use '../global-abstracts' as *;

@media screen and (max-width: 780px) {

	.site-footer {
		.footer-container {
			.footer-links-container {
				div {
					text-align: center;
				}
			}
		}
	}

	.is-style-centered-mobile {
		justify-content: center;
		text-align: center !important;
		margin-left: auto;
		margin-right: auto;
	}

	ul.is-style-centered-mobile {
		display: inline-block;
		text-align: center;
	}

	.card {
		padding: $spacing-10 !important;
	}
}
