@use '../global-abstracts' as *;

body {
	font-family: "Outfit", sans-serif;
	font-size: $font-size-md;
	text-wrap: pretty;
}

h1, h2 {
	font-family: "Knewave", sans-serif;
	font-weight: 400;
}

h3, h4, h5 {
	font-family: "Outfit", sans-serif;
	font-weight: 700;
}

h1 {
	font-size: $font-size-lg-title;
	color: $color-contrast-light;
}

h2 {
	font-size: $font-size-md-title;
}

h3 {
	font-size: $font-size-sm-title;
}

.emphasis-text {
	color: $color-accent-2;
}

a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Outfit", sans-serif;
	font-weight: 600;
	letter-spacing: .05em;
	color: $color-accent-1;
}

.is-style-hover-accent-1 {
	transition: 300ms;

	&:hover:not(.active) {
		color: $color-accent-1;
		cursor: pointer;
	}
}

.is-style-link-in-text {
	color: inherit;
	text-decoration: underline;
}