/**
 * Colors
 */

 $color-base-1: #faf5e6;
 $color-contrast-dark: #252525;
 $color-contrast-light: #faf5e6;
 $color-accent-1: #157b89;
 $color-accent-2: #1b9bac;
 

/**
* Spacing
*/

 $global-padding: clamp(1.2rem, -2rem + 16vw, 13rem);
 $spacing-05: 0.5rem;
 $spacing-10: 1rem;
 $spacing-20: 2rem;
 $spacing-30: 3rem;
 $spacing-40: 4rem;
 $spacing-50: 5rem;
 $spacing-60: 6rem;
 $content-size: 44rem;
 $wide-size: 68rem;
 $extra-wide-size: 100rem;


/**
* Font Sizes
*/

 $font-size-sm: 1rem;
 $font-size-md: clamp(1rem, 0.962rem + 0.17vw, 1.125rem);
 $font-size-lg: clamp(1.125rem, 1.087rem + 0.17vw, 1.25rem);
 $font-size-sm-title: clamp(1.75rem, 1.674rem + 0.35vw, 2rem);
 $font-size-md-title: clamp(2.5rem, 1.891rem + 2.78vw, 4.5rem);
 $font-size-lg-title: clamp(3.8rem, 1.668rem + 6.09vw, 7.375rem);


/**
* Variables
*/

 $radius-1: 1.5rem;
 $delay-1: 300ms;
