---
import '../styles/app.scss';

import Layout from "../layouts/Layout.astro";
import PrimaryContentContainer from '../components/Primary-content-container.astro';
import SectionContainer from '../components/Section-container.astro';
import SideBySideContainer from "../components/Side-by-side-container.astro";
import Card from '../components/Card.astro';
import NarrowContainer from '../components/Narrow-container.astro';
import Banner from "../components/Banner.astro";
import DialogDropdown from '../components/dialog-dropdown.astro';

const backgroundUrl = 'url(/example-banner-image.jpg)';
---

<Layout>
	<Banner backgroundUrl={backgroundUrl} headingText="This is an Example Page Heading" paragraphText="This is some text to engage the reader and inform them of the purpose of the page they are on. It should be limited to a couple of sentences. For example, it should not be much longer than this."/>
	<PrimaryContentContainer>
		<SectionContainer>
			<SideBySideContainer>
				<NarrowContainer>
					<Card>
						<h2>Have Fun but Code Neatly</h2>
						<p>This card is an example of a component. It could be used to contain some contact info you want to stand out, or it could be used to draw attention to something else. Idk, how you use it is your business. Just look at the .astro files to see how they are built and how they might be able to be used.</p>
					</Card>
				</NarrowContainer>
				<NarrowContainer>
					<h2>Learn More and <br> Build a Website</h2>
					<p>This Astro template offers a simple starting point for developers of all levels. To build off of this template, simply replace the example page with your desired pages. Choose from some existing components for simple layouts and interactive elements like buttons. Styles are handled within the components as well as in SCSS files, but developers must be carefule to import styles properly. If you want to go back to the home page, click <a class="is-style-link-in-text is-style-hover-accent-1" href="/" target="_blank">here</a>.</p>
				</NarrowContainer>
			</SideBySideContainer>
		</SectionContainer>
		<SectionContainer>
			<Card>
				<DialogDropdown>
					<p slot="excerpt">“As you can see, this framework has some really nice modularity for quickly building sites that have components and layouts that are reused in multiple places.”</p>
								<p slot="client-name" class="client-name">- Ex Ample</p>
								<div slot="dropdown-content">
									<p>This dialog dropdown is made possible with some simple JavaScript that listens for a click on the dropdown arrow to increase the max height of the container holding the content you are reading now. It also listens for any window resizing to adjust accordingly is someone does something crazy like rotate their tablet or resized their browser.</p>
									<p>While you're here, I might as well expand the content of this dropdown and tell you a little bit about Astro. I have been very impressed with the Astro Web Framework. For a little background, Astro is a modern Javascript web framework designed for building fast and efficient websites, particularly those with a focus on content. Astro allows you to selectively add interactivity to specific parts of your website (called "islands"). Only the necessary JavaScript for those interactive components is loaded, keeping the rest of the page lightweight (note that this functionality of Astro is not implemented in this template). Astro supports various frontend frameworks like React, Vue, Svelte, and more. You can use your preferred framework within your Astro project for building interactive components.</P>
								</div>
				</DialogDropdown>
			</Card>
		</SectionContainer>
	</PrimaryContentContainer>
</Layout>