---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/Section-container.astro';

import '../styles/app.scss';
---

<Layout pageName="is-page-home">
	<svg id="drip" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1 1" style="position: asolute; top: 0; left: 0;" height="0" width="0">
		<defs>
			<clipPath id="drip-clip-path" clipPathUnits="objectBoundingBox">
				<path d="M0.914,0.469 c-0.048,0,-0.086,-0.076,-0.086,-0.17 v-0.109 h0 c0,0,0,0,0,-0.001 c0,-0.057,-0.024,-0.104,-0.053,-0.104 s-0.053,0.046,-0.053,0.104 c0,0,0,0,0,0.001 h0 v0.043 c0,0.075,-0.031,0.136,-0.069,0.136 s-0.069,-0.061,-0.069,-0.136 v-0.06 h0 c0,0,0,-0.001,0,-0.001 c0,-0.094,-0.039,-0.171,-0.087,-0.171 s-0.087,0.077,-0.087,0.171 c0,0,0,0.001,0,0.001 h0 v0.577 c0,-0.138,-0.057,-0.251,-0.127,-0.251 s-0.127,0.112,-0.127,0.251 v-0.491 c0,-0.086,-0.035,-0.155,-0.079,-0.155 s-0.079,0.07,-0.079,0.155 v0.742 h1 v-0.702 c0,0.094,-0.039,0.17,-0.086,0.17"/>
			</clipPath>
		</defs>
	</svg>
	<div class="hero-container image-contains-text has-global-padding">
		<div class="hero-text">
			<p>HI, MY NAME IS</p>
			<h1>Andrew Smith</h1>
			<p>AND I'M A FULL-STACK WEB DEVELOPER</p>
		</div>
		<a href="#about">
			<svg class="is-style-hover-effect-1 read-more" width="221" height="221" viewBox="0 0 221 221" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M110.565 213.253C167.35 213.253 213.384 167.22 213.384 110.435C213.384 53.6497 167.35 7.61619 110.565 7.61619C53.78 7.61619 7.74656 53.6497 7.74656 110.435C7.74656 167.22 53.78 213.253 110.565 213.253ZM110.565 220.87C171.557 220.87 221 171.426 221 110.435C221 49.4433 171.557 0 110.565 0C49.5737 0 0.130371 49.4433 0.130371 110.435C0.130371 171.426 49.5737 220.87 110.565 220.87Z" />
				<path d="M110.464 170.095C107.011 162.885 101.527 156.183 94.0126 149.988V144.657C97.2622 146.18 100.106 147.703 102.543 149.227C104.98 150.648 107.011 152.07 108.636 153.492V64.6869H115.033V153.492C116.76 152.07 118.841 150.648 121.279 149.227C123.716 147.703 126.508 146.18 129.656 144.657V149.988C122.243 156.183 116.76 162.885 113.205 170.095H110.464Z"/>
			</svg>
		</a>
	</div>
	<div class="parent">
		<div class="div1">
			<div class="drip-left is-style-color-base-1"></div>
			<div class="under-drip-left is-style-color-base-1"></div>
		</div>
		<div class="div2"></div>
		<div class="div3">
			<svg class="drip-right" viewBox="0 0 890 362">
				<path class="is-style-color-base-1" d="M890,228.5v133.5H0v-230h.01c0-.33-.01-.67-.01-1C0,58.65,58.65,0,131,0s131,58.65,131,131c0,.33-.01.67-.01,1h.01v46c0,57.44,46.56,104,104,104s104-46.56,104-104v-33h.01c0-.17-.01-.33-.01-.5,0-43.91,35.59-79.5,79.5-79.5s79.5,35.59,79.5,79.5c0,.17-.01.33-.01.5h.01v83.5c0,72.07,58.43,130.5,130.5,130.5s130.5-58.43,130.5-130.5Z"/>
			</svg>
			<svg class="drip-right-small" viewBox="0 0 188 99">
				<path class="is-style-color-base-1" d="M188,23v76H0v-46.5C0,32.34,16.34,16,36.5,16s36.5,16.34,36.5,36.5v11c0,19.05,15.45,34.5,34.5,34.5s34.5-15.45,34.5-34.5V23c0-12.7,10.3-23,23-23s23,10.3,23,23Z"/>
			</svg>
		</div>
		<div class="div4">
			<div class="profile-image-container" id="about">
				<div class="image">
					<img class="andy" src="andy.jpg" alt="Andrew Smith">
					<div class="under-profile-image is-style-color-base-1"></div>
				</div>
			</div>
			<div class="about-me">
				<h2>About Me</h2>
					<p>Driven by a strong interest in building user-friendly and engaging online experiences, I've gained practical experience in creating websites through a combination of self-study, online courses, and hands-on projects. I graduated from Purdue University with a Bachelor of Science degree in 2019 and moved to the Portland, Oregon area in 2023.<br>
						I've successfully completed several freelance projects, where I focused on meeting client needs, ensuring a great user experience, and working efficiently within project deadlines. I'm eager to contribute my skills and enthusiasm to a dynamic team in the web development field.</p>
					<a class="is-style-hover-effect-1"href="/andrew-smith-resume.pdf" target="_blank">View My Resume →</a>
			</div>
			<div class="grid-filler"></div>
		</div>
		<div class="div5"></div>
	</div>
	<SectionContainer class="is-layout-flex-column is-style-centered">
		<div class="is-style-content-size">
			<h2>Additional Info,<br>or Compelling Call to Action</h2>
			<p>We will help you get the most from your website, whether you're a small business just getting started or an established company with an existing brand. We have a variety of services available for clients of all types to give you the platform you need to achieve your web based goals.</p>
			
		</div>
	</SectionContainer>
</Layout>

<style lang="scss">
	@use '../styles/_global-abstracts.scss' as *;

	.hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: $spacing-20;
		height: 100vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		.hero-text {
			text-align: center;

			h1 {
				margin: 0.25em 0;
				line-height: 1em;				
			}
			
			p {
				font-size: $font-size-lg;
				font-weight: 600;
				margin: 0;
				line-height: 1em;
				color: $color-accent-2;
			}

		}
		
		.read-more {
			width: clamp(3.438rem, 2.896rem + 2.71vw, 5.438rem);
			height: clamp(3.438rem, 2.896rem + 2.71vw, 5.438rem);

			path {
				fill: $color-contrast-light;
			}
		}
	}


	.drip-section-transition {
		fill: $color-base-1;
	}

	.is-style-color-base-1 {
		fill: $color-base-1;
		background-color: $color-base-1;
	}

	.parent {
		width: 100%;
		// height: 100vh;
		display: grid;
		grid-template-columns: $global-padding clamp(9.688rem, 2.983rem + 33.52vw, 28.125rem) repeat(2, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	
	.div1 { 
		grid-area: 1 / 1 / 3 / 2; 
		background-color: transparent;
		display: flex;
		flex-direction: column;
		padding-top: 50%;
		align-items: last baseline;
		
		.drip-left {
			width: 100%;
			aspect-ratio: 1 / 1;
			border-radius: 50% 50% 0 0;
		}
		
		.under-drip-left {
			margin-top: -1px;
			// border-radius: 50% 50% 0 0;
			flex: 1 1 1px;
			align-self: stretch;
		}
	}
	
	.div2 { 
		grid-area: 1 / 2 / 2 / 3; 
		background-color: transparent;
	}
	
	.div3 { 
		grid-area: 1 / 3 / 2 / 6;
		display: flex;
		align-items: last baseline;
		background-color: transparent;
	}
	
	.div4 { 
		grid-area: 2 / 2 / 3 / 5; 
		background-color: transparent;
		margin-top: -1px;
		display: grid;
		grid-template-columns: clamp(9.688rem, 2.983rem + 33.52vw, 28.125rem) repeat(2, 1fr);
		grid-auto-rows: fit-content;
		justify-items: start;

		.profile-image-container {
			width: 100%;
			grid-area: 1 / 1 / 2 / 2;
			align-self: start;
			display: block;
			background-color: transparent;
			
			.andy {
				width: 100%;
				object-fit: cover;
				align-self: last baseline;
				border-radius: 100%;
				margin-bottom: -50%;
			}

			.under-profile-image {
				width: 100%;
				aspect-ratio: 2 / 1;
			}	
		}
	
		.about-me {
			grid-area: 1 / 2 / 3 / 4;
			background-color: $color-base-1;
			padding-left: $spacing-30;
			padding-right: $global-padding;
		}

		.grid-filler {
			grid-area: 2 / 1 / 4 / 2;
			background-color: $color-base-1;
			width: 100%;
			height: 100%;
		}
	}

	.drip-right {
		display: block;
	}

	.drip-right-small {
		display: none;
	}

	@media screen and (max-width: 780px) {
		.div4 { 

			.about-me {
				grid-area: 2 / 1 / 3 / 4;
				padding-left: 0;
			}

			.grid-filler {
				grid-area: 1 / 2 / 2 / 4;
			}
		}

		.drip-right {
			display: none;
		}

		.drip-right-small {
			display: block;
		}
	}

</style>
