---
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/Section-container.astro';

import '../styles/app.scss';
---

<Layout pageName="is-page-home">
	<div class="hero-container image-contains-text has-global-padding">
		<div class="hero-text">
			<p>HI, MY NAME IS</p>
			<h1>Andrew Smith</h1>
			<p>AND I'M A FULL-STACK WEB DEVELOPER</p>
		</div>
		<a href="">
			<svg class="is-style-hover-effect-1 read-more" width="221" height="221" viewBox="0 0 221 221" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M110.565 213.253C167.35 213.253 213.384 167.22 213.384 110.435C213.384 53.6497 167.35 7.61619 110.565 7.61619C53.78 7.61619 7.74656 53.6497 7.74656 110.435C7.74656 167.22 53.78 213.253 110.565 213.253ZM110.565 220.87C171.557 220.87 221 171.426 221 110.435C221 49.4433 171.557 0 110.565 0C49.5737 0 0.130371 49.4433 0.130371 110.435C0.130371 171.426 49.5737 220.87 110.565 220.87Z"/>
				<path d="M110.464 170.095C107.011 162.885 101.527 156.183 94.0126 149.988V144.657C97.2622 146.18 100.106 147.703 102.543 149.227C104.98 150.648 107.011 152.07 108.636 153.492V64.6869H115.033V153.492C116.76 152.07 118.841 150.648 121.279 149.227C123.716 147.703 126.508 146.18 129.656 144.657V149.988C122.243 156.183 116.76 162.885 113.205 170.095H110.464Z"/>
			</svg>
		</a>
	</div>
	<SectionContainer class="is-layout-flex-column is-style-centered">
		<div class="is-style-content-size">
			<h2>Additional Info,<br>or Compelling Call to Action</h2>
			<p>We will help you get the most from your website, whether you're a small business just getting started or an established company with an existing brand. We have a variety of services available for clients of all types to give you the platform you need to achieve your web based goals.</p>
		</div>
	</SectionContainer>
</Layout>

<style lang="scss">
	@use '../styles/_global-abstracts.scss' as *;

	.hero-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: $spacing-20;
		height: 100vh;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		.hero-text {
			text-align: center;

			h1 {
				margin: 0.25em 0;
				line-height: 1em;				
			}
			
			p {
				font-size: $font-size-lg;
				font-weight: 600;
				margin: 0;
				line-height: 1em;
				color: $color-accent-2;
			}

		}
		
		.read-more {
			width: clamp(3.438rem, 2.896rem + 2.71vw, 5.438rem);
			height: clamp(3.438rem, 2.896rem + 2.71vw, 5.438rem);

			path {
				fill: $color-contrast-light;
			}
		}
	}
</style>
