---
const backgroundUrl = Astro.props.backgroundUrl;
const headingText = Astro.props.headingText;
const paragraphText = Astro.props.paragraphText;
const linkText = Astro.props.linkText;
---

<div class="banner is-style-centered image-contains-text has-global-padding">
	<div class="is-style-content-size">
		<h1>{headingText}</h1>
		<p>{paragraphText}</p>
	</div>
</div>

<style lang="scss" define:vars={{backgroundUrl}}>
	@use '../styles/global-abstracts' as *;

	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		box-sizing: border-box;
		background-image: linear-gradient(rgba(3, 59, 46, 0.5), rgba(3, 59, 46, 0.5)), var(--backgroundUrl);
		width: 100%;
		padding-block: 4rem;
		background-position: center;
   		background-repeat: no-repeat;
    	background-size: cover;
		font-size: $font-size-lg;

		h1 {
			text-wrap: pretty;
			margin-block-start: 0;
			margin-bottom: $spacing-10;
		}

		p {
			margin-bottom: $spacing-10;
		}

		a {
			text-decoration: none;
			transition: 300ms;

			&:hover {
				text-decoration: underline;
			}
		}
	}
</style>