---
import '../styles/app.scss';

const { imageUrl } = Astro.props;
const { title } = Astro.props;
const tags = Astro.props.tags.split(', ');
const { href } = Astro.props;
---
<div class="card-wrapper">
	<div class="card-drip">
		<div class="under-project-image"></div>
		<svg viewBox="0 0 185 77" >
			<g>
				<rect
					class="card-wave-background"
					width="100%"
					height="100%"
				/>
				<path
					class="card-wave-foreground"
					d="M 186,32.459996 V 77.999999 H 3.5142822e-4 V 33.009996 c 0,-10.25 8.35000037178,-18.55 18.65999957178,-18.55 10.31,0 18.66,8.3 18.66,18.55 v 0.09 c 0,9.81 8.01,17.77 17.87,17.77 9.86,0 17.88,-7.96 17.88,-17.77 v -0.64 c 0,-17.93 14.61,-32.459995 32.649999,-32.459995 18.04001,0 32.65,14.529995 32.65,32.459995 0,12.8 10.44,23.19 23.32,23.19 12.88,0 23.31,-10.39 23.31,-23.19 z"
				/>
			</g>
		</svg>
		<div class="project-image-container">
			<img src={imageUrl} alt="project image">
		</div>
		<svg viewBox="0 0 185 77" >
			<g
				transform="matrix(-1,0,0,1,185.0007,0)">
				<rect
					class="card-wave-background"
					width="100%"
					height="100%"
				/>
				<path
					class="card-wave-foreground"
					d="M 186,32.459996 V 77.999999 H 3.5142822e-4 V 33.009996 c 0,-10.25 8.35000037178,-18.55 18.65999957178,-18.55 10.31,0 18.66,8.3 18.66,18.55 v 0.09 c 0,9.81 8.01,17.77 17.87,17.77 9.86,0 17.88,-7.96 17.88,-17.77 v -0.64 c 0,-17.93 14.61,-32.459995 32.649999,-32.459995 18.04001,0 32.65,14.529995 32.65,32.459995 0,12.8 10.44,23.19 23.32,23.19 12.88,0 23.31,-10.39 23.31,-23.19 z"
				/>
			</g>
		</svg>
	</div>
	<div class="card">
		<div class="card-content">
			<h3>{title}</h3>
			<div class="tag-container">
				{tags.map((e) =>
					<div class="tag">
						<p>{e}</p>
					</div>
					)
				}
			</div>
			<slot />
		</div>
		<a href={href} class="is-style-hover-effect-1 has-arrow" target="_blank">SEE IT LIVE </a>
	</div>
</div>

<style lang="scss">
	@use '../styles/global-abstracts' as *;

	.card-wrapper {
		display: flex;
		flex-direction: column;
		flex: 1 1 23em;
		max-width: 28em;
	}

	.card-drip {
		display: flex;
		width: 100%;
		align-items: flex-end;
		margin-bottom: -2px;
		position: relative;
		z-index: 2;
		

		.project-image-container {
			max-width: 25%;

			img {
				width: 100%;
				aspect-ratio: 1 / 1;
				border-radius: 100%;
			}
	
		}
		
		.under-project-image {
			position: absolute;
			width: 50%;
			height: 50%;
			margin-left: 25%;
			background-color: $color-contrast-dark;
			z-index: -1;
		}

		.card-wave-foreground {
		fill: $color-contrast-dark;
		}

		.card-wave-background {
			fill: $color-base-1;
		}
	}

	.card {
		display: flex;
		flex: 1;
		flex-direction: column;
		text-align: left;
		justify-content: space-between;
		color: $color-contrast-light;
		background-color: $color-contrast-dark;
		padding: $spacing-05 $spacing-20 $spacing-20 $spacing-20;
		border-radius: 0 0 $radius-1 $radius-1;

		.card-content {
			display: flex;
			flex-direction: column;
			gap: $spacing-10;
		}

		h3 {
			margin: 0;
			margin-top: $spacing-05;
			text-transform: uppercase;
		}

		p {
			margin: 0;
			margin-bottom: 0 !important;
		}

		a {
			width: fit-content;
		}

	}
	
	.tag-container {
		display: flex;
		gap: $spacing-10;
	}

	.tag {
		padding: 0 0.75em;
		border-radius: .4em;
		color: $color-contrast-dark;
		background-color: $color-accent-2;
		font-weight: 600;
		text-transform: uppercase;

		p {
			margin: 0;
		}
	}

	a {
		color: $color-accent-2
	}

</style>

