---

---

<div class="collapsed collapsible-dropdown">
	<div class="non-collapsing">
		<div class="excerpt-container">
			<slot name="excerpt"/>
			<slot name="client-name"/>
		</div>
		<svg class="dropdown-btn" width="22" height="12" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21 10.7073L11 1.80736L1 10.7073" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
	</div>
	<div class="dropdown-content">
		<slot name="dropdown-content"/>
	</div>
</div>

<style lang="scss">
	@use '../styles/global-abstracts' as *;

	.collapsible-dropdown {
		width: 100%;
	}
	
	.non-collapsing {
		display: flex;
		justify-content: center;
		width: 100%;
		align-items: center;
		margin-bottom: $spacing-05;
		flex-wrap: wrap;
		text-align: left;

		.excerpt-container {
			flex: 1 1 28rem;
		}
	}

	.dropdown-btn {
		transition: 300ms;
		margin-inline: $spacing-10;
		width: 1.3rem;

		&:hover {
			scale: 1.2;
		}
	}

	.dropdown-content {
			transition: 400ms ease-in-out;
			max-height: 0px;
			overflow: hidden;
			text-align: left;
		}
	
	.collapsed {
		.dropdown-btn {
			transform: rotateX(180deg);
		}

		.dropdown-content {
		}
	}
</style>