---
import LogoCompact from '../../public/logo.svg';
---

<div class="site-footer">
	<div class="footer-container">
		<div class="inner-footer-container is-style-wide-size">
			<div class="footer-logo-container"><img src={LogoCompact.src} class="logo" alt="logo" loading="lazy"/></div>
			<a class="is-style-hover-effect-1 has-arrow" href="/andrew-smith-resume.pdf" target="_blank">view my resume </a>
			<a class="is-style-hover-effect-1" href="mailto:ajsmith3005@gmail.com">ajsmith3005@gmail.com</a>
			<div class="footer-links-container">
				<a>
					<svg class="is-style-nav-icon is-style-hover-effect-1" width="148" height="148" viewBox="0 0 148 148" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M73.6188 0.64502C32.9641 0.64502 0 34.4326 0 76.1411C0 109.501 21.0997 137.767 50.35 147.759C54.0309 148.449 55.3784 146.116 55.3784 144.111C55.3784 142.303 55.3127 137.57 55.2798 131.26C34.8046 135.828 30.4663 121.136 30.4663 121.136C27.1141 112.427 22.2828 110.093 22.2828 110.093C15.6111 105.393 22.7758 105.492 22.7758 105.492C30.1706 106.017 34.0487 113.281 34.0487 113.281C40.6218 124.818 51.2702 121.498 55.477 119.559C56.1343 114.694 58.0405 111.342 60.1439 109.469C43.8098 107.562 26.6211 101.087 26.6211 72.1642C26.6211 63.9145 29.4804 57.1767 34.1802 51.918C33.4242 50.0117 30.8936 42.3207 34.9032 31.9347C34.9032 31.9347 41.0819 29.8969 55.1484 39.6585C61.0313 37.9822 67.3086 37.1606 73.5859 37.1277C79.8304 37.1606 86.1406 37.9822 92.0235 39.6585C106.09 29.8969 112.236 31.9347 112.236 31.9347C116.245 42.3207 113.715 50.0117 112.959 51.918C117.659 57.2096 120.518 63.9474 120.518 72.1642C120.518 101.153 103.296 107.529 86.8965 109.403C89.5257 111.736 91.892 116.338 91.892 123.371C91.892 133.462 91.7934 141.613 91.7934 144.078C91.7934 146.083 93.1081 148.449 96.8547 147.693C126.171 137.734 147.238 109.469 147.238 76.1411C147.238 34.4326 114.273 0.64502 73.6188 0.64502Z"/>
					</svg>
				</a>
				<a>
					<svg class="is-style-nav-icon is-style-hover-effect-1" width="148" height="148" viewBox="0 0 148 148" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M73.9723 0.64502C114.604 0.64502 147.591 33.6326 147.591 74.2638C147.591 114.895 114.604 147.883 73.9723 147.883C33.3411 147.883 0.353516 114.895 0.353516 74.2638C0.353516 33.6326 33.3411 0.64502 73.9723 0.64502ZM50.9558 115.637V58.1453H31.8425V115.637H50.9558ZM119.864 115.637V82.6681C119.864 65.0085 110.435 56.7934 97.8622 56.7934C87.7238 56.7934 83.1824 62.3692 80.6397 66.2854V58.1453H61.5313C61.7847 63.5393 61.5313 115.637 61.5313 115.637H80.6394V83.5297C80.6394 81.8112 80.7631 80.0932 81.2695 78.865C82.6484 75.4328 85.795 71.8772 91.0743 71.8772C97.9858 71.8772 100.755 77.1513 100.755 84.8767V115.637H119.864ZM41.5283 30.4232C34.9889 30.4232 30.7164 34.7225 30.7164 40.3575C30.7164 45.8737 34.8589 50.2914 41.2752 50.2914H41.3986C48.0631 50.2914 52.2113 45.8737 52.2113 40.3575C52.0877 34.7225 48.0634 30.4232 41.5283 30.4232Z"/>
					</svg>
				</a>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	@use '../styles/_global-abstracts.scss' as *;

	.site-footer {
		justify-content: center;

		.logo {
			align-self: center;
		}

		h3 {
			text-transform: uppercase;
			font-size: $font-size-md;
		}

		p {
			font-size: $font-size-sm;

			a {
				text-decoration: underline;
				text-decoration-thickness: 1px;
				color: $color-contrast-light;
				transition: 300ms;

				&:hover:not(.active) {
				color: $color-accent-1;
				}
			}
		}
	}
		
	.footer-container {
		display: flex;
		flex-wrap: wrap;
		gap: $spacing-10;
		flex-grow: 1;
		width: 100%;
		justify-content: center;
		align-items: flex-start;
		color: $color-contrast-light;
		padding: $spacing-20 $global-padding;
		
		.inner-footer-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			row-gap: $spacing-10;
			max-width: $extra-wide-size;
		}
	}
	
	.footer-links-container {
		display: flex;
		gap: $spacing-10;
	}
</style>
