---
const { class: className, ...rest } = Astro.props;
---

<section class=`${ className ? className : "" } section-container`>
	<slot />
</section>

<style lang="scss">
	@use '../styles/global-abstracts' as *;

	.section-container {
	padding-top: $spacing-60;
	padding-left: $global-padding;
	padding-right: $global-padding;
	display: flex;
	justify-content: center;
	background-color: $color-base-1;
}
</style>