---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const pageName = Astro.props.pageName;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Knewave&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<script src="../scripts/scripts.js"></script>
		<title>Your Site Title</title>
	</head>
	<body class={pageName}>
		<Header />
			<main>
				<slot />
			</main>
		<Footer />
	</body>
</html>

<style lang="scss">
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
